<!-- <html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  Add your EJS code here
  <h1><%= shortURL %> = <%= urls[shortURL]%></h1>
</body>
</html>
 -->
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="width: 100%; padding: 5px;">
  <form>
  <!-- Add your EJS code here -->
  <table class="table" style="width: 100%; padding: 5px;">
      <style> table, th, td {border: 1px solid black;}</style>
    <thead>
      <tr>
        <th>Short-form</th>
        <th>Full-form</th>
      </tr>
    </thead>
      <tr>
        <td ><%= shortURL %></td>
        <td><%= urls[shortURL]%></td>
      </tr>
      <tr>
        <td colSpan="2">
        </td>
      </tr>
    </tbody>
  </table>
</body>
<p></p>
<p></p>
<p></p>
 <form method="POST">
        <input type="text"name="input" size="80" value='https://'/>
  </form>
  <form method="POST">
        <input type="submit" value="update"/>
  </form>

</html>
<style>
table, th, td {
border: 1px solid black;}</style>

